In [1]:
import os
import sys
os.environ["PYSPARK_PYTHON"] = "/opt/cloudera/parcels/Anaconda/bin/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_232-cloudera/jre"
os.environ["SPARK_HOME"]="/opt/cloudera/parcels/SPARK2-2.3.0.cloudera2-1.cdh5.13.3.p0.316101/lib/spark2/"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.6-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")
import os
os.environ['AWS_ACCESS_KEY_ID']='AKIARXKRIQPFCRYAB2RY'
os.environ['AWS_SECRET_ACCESS_KEY']='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'

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("Spark-etl").master("local").getOrCreate()
spark

In [4]:
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3.awsAccessKeyId", "AKIARXKRIQPFCRYAB2RY")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3.awsSecretAccessKey", "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")

In [5]:
df = spark.read.csv("SRC_ATM_TRANS3")

In [6]:
#The count of the dataset
df.count()

2468572

In [7]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType,FloatType,DecimalType,LongType

In [8]:
#Creating Custom Schema for the dataset
Sparschema = StructType([StructField('year', IntegerType(),True),
                        StructField('month', StringType(),True),
                        StructField('day', IntegerType(),True),
                        StructField('weekday', StringType(),True),
                        StructField('hour', IntegerType(),True),
                        StructField('atm_status', StringType(),True),
                        StructField('atm_id', StringType(),True),
                        StructField('atm_manufacturer', StringType(),True),
                        StructField('atm_location', StringType(),True),
                        StructField('atm_street_name', StringType(),True),
                        StructField('atm_street_number', IntegerType(),True),
                        StructField('atm_zipcode', IntegerType(),True),
                        StructField('atm_lat', DoubleType(),True),
                        StructField('atm_lon', DoubleType(),True),
                        StructField('currency', StringType(),True),
                        StructField('card_type', StringType(),True),
                        StructField('transaction_amount', IntegerType(),True), 
                        StructField('service', StringType(),True),
                        StructField('message_code', StringType(),True),
                        StructField('message_text', StringType(),True),
                        StructField('weather_lat', DoubleType(),True),
                        StructField('weather_lon', DoubleType(),True),
                        StructField('weather_city_id', IntegerType(),True),
                        StructField('weather_city_name', StringType(),True), 
                        StructField('temp', DoubleType(),True),
                        StructField('pressure', IntegerType(),True),
                        StructField('humidity', IntegerType(),True), 
                        StructField('wind_speed', IntegerType(),True), 
                        StructField('wind_deg', IntegerType(),True),
                        StructField('rain_3h', DecimalType(),True),
                        StructField('clouds_all', IntegerType(),True), 
                        StructField('weather_id', IntegerType(),True), 
                        StructField('weather_main', StringType(),True), 
                        StructField('weather_description', StringType(),True), 
                        ])

In [9]:
#Reading the main source using Sparschema
df = spark.read.csv("SRC_ATM_TRANS3",schema=Sparschema)

In [10]:
# Checking any mismatched data is present in message_text column
df.filter(df.message_text.contains('Suspected malfunction')).show(2,truncate=False)

+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+-----------------------------------------------------------------------------------------+-----------+-----------+---------------+-----------------+----+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|year|month  |day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|atm_street_name  |atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|card_type           |transaction_amount|service   |message_code|message_text                                                                             |weather_lat|weather_lon|weather_city_id|weather_city_name|temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+-----------------------------------------------------------------------------------------+-----------+-----------+---------------+-----------------+----+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
|2017|January|1  |Sunday |9   |Active    |41    |Diebold Nixdorf |Skagen      |Sct. Laurentiivej|36               |9990       |57.723 |10.59  |DKK     |Mastercard - on-us  |1581              |Withdrawal|4014        |Suspected malfunction,0.000,57.721,11,2613939,0.000,277,1005,75,3,290.000,0,80,803,Clouds|null       |null       |null           |null             |null|null    |null    |null      |null    |null   |null      |null      |null        |null               |
|2017|January|1  |Sunday |12  |Active    |41    |Diebold Nixdorf |Skagen      |Sct. Laurentiivej|36               |9990       |57.723 |10.59  |DKK     |Visa Dankort - on-us|6719              |Withdrawal|4014        |Suspected malfunction,0.000,57.721,11,2613939,0.000,276,1006,90,1,320.000,0,68,803,Clouds|null       |null       |null           |null             |null|null    |null    |null      |null    |null   |null      |null      |null        |null               |
+----+-------+---+-------+----+----------+------+----------------+------------+-----------------+-----------------+-----------+-------+-------+--------+--------------------+------------------+----------+------------+-----------------------------------------------------------------------------------------+-----------+-----------+---------------+-----------------+----+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+
only showing top 2 rows

### Printing the schema of the Spar Nord Data set

In [11]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_id: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location: string (nullable = true)
 |-- atm_street_name: string (nullable = true)
 |-- atm_street_number: integer (nullable = true)
 |-- atm_zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: decimal(10,0) (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

In [12]:
# The count of the Sparnord Bank dataset
df.count()

2468572

### Creation of Dimension tables

## DIM_LOCATION

In [13]:
from pyspark.sql.functions import *

In [14]:
# Reading columns which are required for location dimension table from source table
dim_location=df.select(col("atm_location").alias("location"),col("atm_street_name").alias("streetname"),col("atm_street_number").alias("street_number"),
                      col("atm_zipcode").alias("zipcode"),col('atm_lat'),col('atm_lon')).distinct()

In [15]:
#Creating primary key for location dimension table

from pyspark.sql import Window
dim_location= dim_location.withColumn("new_column",lit("ABC"))

In [16]:
w = Window().partitionBy('new_column').orderBy(lit('A'))
dim_location= dim_location.withColumn("location_id", row_number().over(w)).drop("new_column")

In [17]:
#Rearranging the columns as per the requirement
dim_location=dim_location.select("location_id","location","streetname","street_number","zipcode","atm_lat","atm_lon").distinct()

In [18]:
dim_location.show(5)

+-----------+--------------------+------------+-------------+-------+-------+-------+
|location_id|            location|  streetname|street_number|zipcode|atm_lat|atm_lon|
+-----------+--------------------+------------+-------------+-------+-------+-------+
|         26|Intern  Frederiks...|Danmarksgade|           48|   9900| 57.441| 10.537|
|         42|  ÃƒËœsterÃƒÂ¥  Duus|ÃƒËœsterÃƒÂ¥|           12|   9000| 57.049|  9.922|
|         46|                Nibe|      Torvet|            1|   9240| 56.983|  9.639|
|         99|    Intern HolbÃƒÂ¦k| Slotsvolden|            7|   4300| 55.718| 11.704|
|         29|Aalborg Storcente...|    Hobrovej|          452|   9200| 57.005|  9.876|
+-----------+--------------------+------------+-------------+-------+-------+-------+
only showing top 5 rows

In [19]:
dim_location.printSchema()

root
 |-- location_id: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- streetname: string (nullable = true)
 |-- street_number: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)

In [20]:
dim_location.count()

109

In [80]:
#Writing the table data to S3 Bucket
dim_location.coalesce(1).write.csv('s3://location-etl/')

## DIM_CARD_TYPE

In [21]:
dim_card_type=df.select("card_type").distinct()

In [22]:
# Creating Primary key(card_type_id) for dim_date table
dim_card_type= dim_card_type.withColumn("new_column",lit("ABC"))
w = Window().partitionBy('new_column').orderBy(lit('A'))
dim_card_type= dim_card_type.withColumn("card_type_id", row_number().over(w)).drop("new_column")

In [23]:
#Rearranging the columns as per the requirement
dim_card_type=dim_card_type.select("card_type_id","card_type")

In [24]:
dim_card_type.show(2)

+------------+---------------+
|card_type_id|      card_type|
+------------+---------------+
|           1|Dankort - on-us|
|           2|         CIRRUS|
+------------+---------------+
only showing top 2 rows

In [25]:
dim_card_type.count()

12

In [26]:
dim_card_type.printSchema()

root
 |-- card_type_id: integer (nullable = true)
 |-- card_type: string (nullable = true)

In [84]:
#Writing the table data to S3 bucket
dim_card_type.coalesce(1).write.csv("s3://cardtype-etl/")

## DIM_ATM

In [27]:
dim_atm=df.select('atm_id','atm_manufacturer','atm_lat','atm_lon')

In [28]:
dim_atm.printSchema()

root
 |-- atm_id: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)

In [29]:
dim_atm=dim_atm.withColumnRenamed('atm_id','atm_number')

In [30]:
dim_atm=dim_atm.join(dim_location, on=['atm_lat','atm_lon'], how='leftouter')

In [31]:
atm_dim_distinct=dim_atm.distinct()

In [32]:
atm_dim_distinct.printSchema()

root
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- location_id: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- streetname: string (nullable = true)
 |-- street_number: integer (nullable = true)
 |-- zipcode: integer (nullable = true)

In [33]:
# Creating Primary key(atm_number) for dim_atm table
atm_dim_distinct= atm_dim_distinct.withColumn("new_column",lit("ABC"))
w = Window().partitionBy('new_column').orderBy(lit('A'))
atm_dim_distinct= atm_dim_distinct.withColumn("atm_id", row_number().over(w)).drop("new_column")

In [34]:
atm_dim_distinct.printSchema()

root
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- location_id: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- streetname: string (nullable = true)
 |-- street_number: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- atm_id: integer (nullable = true)

In [35]:
dim_atm=atm_dim_distinct.select('atm_id','atm_number','atm_manufacturer','location_id').distinct()

In [36]:
dim_atm=dim_atm.withColumnRenamed('location_id','atm_location_id')

In [37]:
dim_atm.printSchema()

root
 |-- atm_id: integer (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location_id: integer (nullable = true)

In [38]:
dim_atm.count()

156

In [96]:
#Writing table data to S3 bucket
dim_atm.coalesce(1).write.csv("s3://atm-etl/")

## DIM_DATE

In [39]:
from pyspark.sql import functions as f
from itertools import chain

In [40]:
dim_date=df.select("year","month","day","hour","weekday").distinct()

In [41]:
dim_date.count()

8685

In [42]:
#Rearranging the columns as per requirement.
dim_date=dim_date.select('year',"month","day","hour","weekday").distinct()

In [43]:
dim_date.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- weekday: string (nullable = true)

In [44]:
months={'January':'01','February':'02','March':'03','April':'04','May':'05','June':'06','July':'07',
       'August':'08','September':'09','October':'10','November':'11','December':'12'}
months_mapping=f.create_map([f.lit(x) for x in chain(*months.items())])
dim_date=dim_date.withColumn('month_name',months_mapping[dim_date['month']])

In [45]:
dim_date=dim_date.withColumn("mnth_name",from_unixtime(unix_timestamp(col("Month"),'MMM'),'MM'))

In [46]:
days={}
for i in range(1,32):
    if i<10:
        days[i]='0'+str(i)
    else:
        days[i]=str(i)
days_mapping=f.create_map([f.lit(x) for x in chain(*days.items())])
dim_date=dim_date.withColumn('days_full',days_mapping[dim_date['day']])

In [47]:
time = {'0':'12:00:00 AM','1':'1:00:00 AM','2':'2:00:00 AM','3':'3:00:00 AM','4':'4:00:00 AM','5':'5:00:00 AM','6':'6:00:00 AM',
      '7':'7:00:00 AM','8':'8:00:00 AM','9':'9:00:00 AM','10':'10:00:00 AM',11:'11:00:00 AM','12':'12:00:00 PM','13':'1:00:00 PM','14':'2:00:00 PM',
 '15':'3:00:00 PM','16':'4:00:00 PM','17':'5:00:00 PM','18':'6:00:00 PM','19':'7:00:00 PM','20':'8:00:00 PM','21':'9:00:00 PM',
      '22':'10:00:00 PM','23':'11:00:00 PM'}
time_dim_date=f.create_map([f.lit(x) for x in chain(*time.items())])
dim_date=dim_date.withColumn('hour_dim_date',time_dim_date[dim_date['hour']])

In [48]:
dim_date=dim_date.withColumn("date_time",concat_ws(" ",(concat_ws("-","year","mnth_name","day")),'hour_dim_date'))

In [49]:
pattern1 = 'yyyy-MM-d hh:mm:ss'
dim_date= dim_date.withColumn('full_date_time', f.unix_timestamp(dim_date['date_time'], pattern1).cast('timestamp'))

In [50]:
dim_date.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- month_name: string (nullable = true)
 |-- mnth_name: string (nullable = true)
 |-- days_full: string (nullable = true)
 |-- hour_dim_date: string (nullable = true)
 |-- date_time: string (nullable = false)
 |-- full_date_time: timestamp (nullable = true)

In [51]:
# Creating Primary key(date_id) for dim_date table
dim_date= dim_date.withColumn("new_column",lit("ABC"))
w = Window().partitionBy('new_column').orderBy(lit('A'))
dim_date= dim_date.withColumn("date_id", row_number().over(w)).drop("new_column")

In [52]:
#Removing columns which are not required as part of the Project
dim_date=dim_date.drop("mnth_name","hour_dim_date","date_time")

In [53]:
dim_date=dim_date.select("date_id","full_date_time","year","month","day","hour","weekday")

In [54]:
dim_date.printSchema()

root
 |-- date_id: integer (nullable = true)
 |-- full_date_time: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- weekday: string (nullable = true)

In [55]:
dim_date.show(2)

+-------+-------------------+----+-------+---+----+-------+
|date_id|     full_date_time|year|  month|day|hour|weekday|
+-------+-------------------+----+-------+---+----+-------+
|      1|2017-01-01 09:00:00|2017|January|  1|   9| Sunday|
|      2|2017-01-03 05:00:00|2017|January|  3|   5|Tuesday|
+-------+-------------------+----+-------+---+----+-------+
only showing top 2 rows

In [56]:
dim_date.count()

8685

In [129]:
#writing table data to S3 bucket
dim_date.coalesce(1).write.csv("s3://date-etl/")

## Creating Fact Table

In [57]:
#Main dataframe Schema for creating Fact table
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_id: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location: string (nullable = true)
 |-- atm_street_name: string (nullable = true)
 |-- atm_street_number: integer (nullable = true)
 |-- atm_zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: decimal(10,0) (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

In [58]:
df=df.withColumnRenamed('atm_id','atm_number')

In [59]:
df=df.withColumnRenamed('atm_street_name','streetname')

In [60]:
df=df.withColumnRenamed('atm_street_number','street_number')

In [61]:
df=df.withColumnRenamed('atm_zipcode','zipcode')

In [62]:
df=df.withColumnRenamed('atm_location','location')

In [63]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- location: string (nullable = true)
 |-- streetname: string (nullable = true)
 |-- street_number: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: decimal(10,0) (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

In [64]:
#Joining the Fact table with date table
df1=df.join(dim_date, on=['year','month','day','hour','weekday'], how='leftouter')

In [65]:
df1.count()

2468572

In [66]:
#Joining the resultant table(df1) with card_Type dimension table
df2=df1.join(dim_card_type, on=['card_type'],how='leftouter')

In [67]:
df2.count()

2468572

In [68]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- location: string (nullable = true)
 |-- streetname: string (nullable = true)
 |-- street_number: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: decimal(10,0) (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

In [69]:
#Joining the resultant table(df2) with location dimension table
df3=df2.join(dim_location, on=['location','atm_lat','atm_lon','streetname','street_number','zipcode'], how='leftouter')

In [70]:
df3.count()

2468572

In [71]:
df3.printSchema()

root
 |-- location: string (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- streetname: string (nullable = true)
 |-- street_number: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- card_type: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: decimal(10,0) (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)
 |-- date_id: integer (nullable = true)
 |-- full_date_time: timestamp (nullable = true)
 |-- card_type_id: integer (nullable = true)
 |-- location_id: integer (nullable = true)

In [72]:
df3=df3.withColumnRenamed('location_id','atm_location_id')

In [73]:
#Joining the resultant table(df4) with atm dimension table
df4=df3.join(dim_atm, on =['atm_number','atm_manufacturer','atm_location_id'], how='leftouter')

In [74]:
df4.count()

2468572

In [75]:
# Creating Primary key(trans_id) for dim_date table
df4= df4.withColumn("new_column",lit("ABC"))
w = Window().partitionBy('new_column').orderBy(lit('A'))
df4= df4.withColumn("trans_id", row_number().over(w)).drop("new_column")

In [76]:
df4.printSchema()

root
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location_id: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- streetname: string (nullable = true)
 |-- street_number: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- card_type: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: integer (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: decimal(10,0) (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)
 |-- date_id: integer (nullable = true)
 |-- full_date_time: timestamp (nullable = true)
 |-- card_type_id: integer (nullable = true)
 |-- atm_id: integer (nullable = true)
 |-- trans_id: integer (nullable = true)

In [77]:
#Gathering required columns for transaction fact table
transaction_fact=df4.select('trans_id','atm_number','atm_location_id','date_id','card_type_id','atm_status','currency','service','transaction_amount'
                           ,'message_code','message_text','rain_3h','clouds_all','weather_id','weather_main','weather_description')

In [78]:
transaction_fact=transaction_fact.withColumnRenamed('atm_location_id','weather_loc_id')

In [79]:
transaction_fact.printSchema()

root
 |-- trans_id: integer (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- weather_loc_id: integer (nullable = true)
 |-- date_id: integer (nullable = true)
 |-- card_type_id: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- service: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- rain_3h: decimal(10,0) (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

In [81]:
#Modifying the message_text column data with original data which is present in Spar Nord data set to avoid datatype mismatch in redshift when loading
transaction_fact = transaction_fact.withColumn("message_text", when(transaction_fact.message_text == "Suspected malfunction,0.000,57.471,10,2614010,0.000,274,1032,91,4,85.000,0,76,803,Clouds","Suspected malfunction no cash dispensed"))

In [82]:
transaction_fact.show(2)

+--------+----------+--------------+-------+------------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
|trans_id|atm_number|weather_loc_id|date_id|card_type_id|atm_status|currency|   service|transaction_amount|message_code|message_text|rain_3h|clouds_all|weather_id|weather_main|weather_description|
+--------+----------+--------------+-------+------------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
|       1|        49|            30|   7591|           1|    Active|     DKK|Withdrawal|              1645|        null|        null|      0|        44|       802|      Clouds|   scattered clouds|
|       2|        17|            59|   7040|           7|    Active|     EUR|Withdrawal|              1492|        null|        null|      0|        40|       802|      Clouds|   scattered clouds|
+--------+----------+--------------+-------+------------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+-------------------+
only showing top 2 rows

In [83]:
transaction_fact.count()

2468572

In [84]:
#Loading transaction fact table to S3 bucket
transaction_fact.coalesce(1).write.option('mode','append').csv("s3://transaction-fact-etl/")